<!-- Title group  -->
<div class="title-group">
  <h1 class="mat-h1">Edit Player</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Form -->
<div class="inner-wrapper">
  <form [formGroup]="playerForm" (ngSubmit)="updatePlayerForm()" #resetPlayerForm="ngForm" novalidate>
    <!-- Left block -->
    <mat-card>
      <div class="keepCenter">
        <div class="controlers-wrapper">
          <!-- Name -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Player :" formControlName="player_name">
            <mat-error *ngIf="handleError('player_name', 'required')">
              You must provide a <strong>player name</strong>
            </mat-error>
          </mat-form-field>
          <!-- Rank -->
          <mat-form-field>
            <mat-label>Rank :</mat-label>
            <mat-select [(value)]="selected" formControlName="player_rank">
              <mat-option [value]="sectioinArray" *ngFor="let sectioinArray of SectioinArray_rank">{{sectioinArray}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="handleError('player_rank', 'required')">
              Rank is required
            </mat-error>
          </mat-form-field>

          <!-- Score -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Score :" formControlName="player_score">
            <mat-error *ngIf="handleError('player_score', 'required')">
              You must provide a <strong>Score</strong>
            </mat-error>
          </mat-form-field>

          <!-- Time -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Time :" formControlName="player_time">
            <mat-error *ngIf="handleError('player_time', 'required')">
              You must provide a <strong>Time</strong>
            </mat-error>
          </mat-form-field>

          <!-- Favorite Game -->
          <mat-form-field>
            <mat-label>Favorite Game :</mat-label>
            <mat-select [(value)]="selected" formControlName="player_favgame">
              <mat-option [value]="sectioinArray" *ngFor="let sectioinArray of SectioinArray_favgame">{{sectioinArray}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="handleError('player_favgame', 'required')">
              Favorite Game is required
            </mat-error>
          </mat-form-field>

          <!-- Status -->
          <mat-form-field>
            <mat-label>Status :</mat-label>
            <mat-select formControlName="player_status">
              <mat-option value=true >Available</mat-option>
              <mat-option value=false >UnAvailable</mat-option>
            </mat-select>
            <mat-error *ngIf="handleError('player_status', 'required')">
              Status is required
            </mat-error>
          </mat-form-field>
        </div>



        <!-- Submit & Reset -->
        <div class="full-wrapper button-wrapper">
          <div class="button-wrapper">
            <button mat-flat-button color="warn">Update</button>
          </div>
        </div>
      </div>
    </mat-card>
  </form>
</div>