<!-- Title group  -->
<div class="title-group">
  <h1 class="mat-h1">Join Player</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Form -->
<div class="inner-wrapper">
  <form [formGroup]="playerForm" (ngSubmit)="updatePlayerForm()" #resetPlayerForm="ngForm" novalidate>
    <!-- Left block -->
    <mat-card>
      <div class="keepCenter">
        <div class="controlers-wrapper">
          <!-- Name -->
          <mat-form-field class="example-full-width">
            <input matInput [readonly]='true' formControlName="player_name">
          </mat-form-field>
          <!-- Rank -->
          <mat-form-field>
            <input matInput [readonly]='true' formControlName="player_rank">
          </mat-form-field>

          <!-- Score -->
          <mat-form-field class="example-full-width">
            <input matInput [readonly]='true' formControlName="player_score">
          </mat-form-field>

          <!-- Time -->
          <mat-form-field class="example-full-width">
            <input matInput [readonly]='true' formControlName="player_time">
          </mat-form-field>

          <!-- Favorite Game -->
          <mat-form-field>
            <input matInput [readonly]='true' formControlName="player_favgame">
          </mat-form-field>

          <!-- Status -->
          <mat-form-field>
            <mat-label>Status :</mat-label>
            <mat-select [(value)]="selected" formControlName="player_game">
              <mat-option [value]="sectioinArray" *ngFor="let sectioinArray of SectioinArray_game">{{sectioinArray}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="handleError('player_game', 'required')">
              Status is required
            </mat-error>
          </mat-form-field>
        </div>



        <!-- Submit & Reset -->
        <div class="full-wrapper button-wrapper">
          <div class="button-wrapper">
            <button mat-flat-button color="warn">Join</button>
          </div>
        </div>
      </div>
    </mat-card>
  </form>
</div>